* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: ghostwhite;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

nav {
  background-color: ghostwhite;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}
  
nav a:hover {
    color: #83ebb7;
  }

.cake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.cupcake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.donut {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
}