* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: silver;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}
  
nav a:hover {
    color: #83ebb7;
  }
